/node_modules
/public/hot
/public/storage
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules/
vendor/
.editorconfig
.env.example
.gitattributes
.editorconfig
webpack.mix.js

.idea/workspace.xml
.idea/workspace.xml

/public
public/