body {
    padding-top: 5rem;
}

html {
    position: relative;
    min-height: 100%;
}

a  {
    color: #b4b4b4;
}

#site-wrapper   {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.box-content {
    border-radius: 5px;
    background-color: #f8f9fa;
}
